* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

/*===============*/
  /*Def. Padrão*/
/*===============*/




/*===============*/
 /*Header e menu*/
/*===============*/

header {
	display: flex;
	justify-content: center;
	height: 70px;
	background-color: #28536b;
}

.container-header {
	display: flex;
	max-width: 100%;
	width: 1050px;
	justify-content: space-between;
	align-items: center;
}

.logo {
	color: #fff;
	font-family: 'Major Mono Display', monospace;
	font-weight: bold;
	padding: 10px;
}

.viagem {
	color: #f25f5c;
}


nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

nav li {
	display: inline-block;
	margin: 15px;
}

nav li a {
	color: #fff;
	text-decoration: none;
}

nav li a:hover {
	background-color: #fff;
	padding: 10px;
	color: #f25f5c;
}

/*===============*/
    /*Intro*/
/*===============*/

#intro {
	display: flex;
	justify-content: center;
}

.container {
	display: flex;
	max-width: 100%;
	width: 1050px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.intro-foto {
	display: flex;
	margin-right: 40px;
}

.titulo {
	margin-top: 20px;
	font-weight: 300;
	font-size: 32px;
}

.intro-foto img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin-left: -20px;
}

.intro-texto {
	display: flex;
	flex-direction: column;
}

.intro-texto p {
	margin-top: 25px;
	font-size: 16px;
	line-height: 25px;
	font-weight: lighter;
}

/*===============*/
  /*Paises barra*/
/*===============*/

#paises-barra {
	display: flex;
	justify-content: center;
	height: 115px;
	background-color: #f25f5c;
}

.container-barra {
	display: flex;
	max-width: 100%;
	width: 1050px;
	justify-content: space-around;	
}

/*pins*/

.fas {
	font-size: 30px;
	font-weight: lighter;
	color: #fff;
}

.container-barra div {
	align-self: center;
}

.container-barra p {
	color: #fff;
	font-weight: 300;
	font-size: 20px;
	letter-spacing: 5px;
	margin-top: 10px;
}

/*===============*/
  /*x- box (não o console rsrs)*/
/*===============*/


#x-box {
	display: flex;
	justify-content: center;
}


.container-x {
	display: flex;
	justify-content: center;
	margin-top: 50px;
	margin-bottom: 50px;
	max-width: 100%;
	width: 1050px;
}

.quadro {
	width: 500px;
	height: 590px;
	border: 20px solid #ccdbdc;
	border-radius: 5px;
}

.quadro img {
	width: 460px;
	height: 500px;
}
.legenda {
	padding: 3px;
	font-family: 'Indie Flower', cursive;
	font-size: 30px;
	text-align: center;
}

/*===============*/
   /*Lugares*/
/*===============*/

#lugares {
	display: flex;
	justify-content: center;
	background-color: #28536b;
}

.container-lugares {
	display: flex;
	max-width: 100%;
	justify-content: space-around;
	width: 1050px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.container-lugares div {
	align-self: center;
	width: 376px;
	/*height: 500px;*/
	margin-right: 10px;
	border-radius: 5px;
	padding: 15px;
	background-color: #fff;
}

.container-lugares div img {
	max-width: 100%;
	width: 344px;
	height: 200px;
}

.container-lugares a {
	text-decoration: none;
	color: #000;
}

.container-lugares a:hover {
	color: #f25f5c;
	text-decoration: underline;
}

.container-lugares p {
	margin-top: 10px;
}

/*===============*/
   /*Lugares*/
/*===============*/

#newsletter {
	display: flex;
	justify-content: center;
	background-color: #75797C;
	padding: 40px;
}

.container-newsletter {
	display: flex;
	width: 1050px;
	justify-content: center;
}

.container-newsletter div {
	align-self: center;
	margin: 10px;
}

.titulo-news {
	font-size: 20px;
	font-weight: 400;
	color: #fff;
}

.subtitulo-news {
	font-size: 15px;
	color: #fff;
	font-weight: 300;
	font-style: italic;
}

.container-newsletter input {
	width: 350px;
	height: 45px;
	line-height: 21px;
	color: #272727;
	border-radius: 40px;
	padding: 10px;
	padding-top: 9px;
	padding-bottom: 12px;
	outline: none;
	border: none;
}

.btn-full {
	max-width: 100%;
	margin-top: 0;
	margin-bottom: 0;
	background-color: #f25f5c;
	font-size: 15px;
	cursor: pointer;
	outline: none;
	border:none;
}

.btn-full:hover {
	color: #28536B;
	background-color: #fff;
}

/*===============*/
   /*Footer*/
/*===============*/

footer {
	display: flex;
	justify-content: center;
}

.container-footer {
	display: flex;
	max-width: 100%;
	width: 1050px;
	justify-content: space-between;
}

.sobre-mim,
.social {
	max-width: 100%;
	width: 50%;
	margin-right: 50px;
	align-self: center;
}

.sobre-mim {
	padding: 20px;
}


.sobre-mim p {
	margin-top: 10px;
	line-height: 25px;
	text-align: justify;
}

.sobre-mim h3 {
	color: #F25F5C;
}

.social {
	background-color: #28536B;
	padding: 20px;
	color: #fff;
}

.social p {
	margin-top: 10px;
}

.fa-facebook,
.fa-twitter,
.fa-instagram {
	font-size: 25px;
	margin-right: 30px;
}





/*GALERIA*/

main {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.container-galeria {
	display: flex;
	width: 1050px;	
}

.fotos {
	min-width: 0;
	margin: 5px;
}


.fotos img {
	max-width: 100%;
	max-height: 450px;
	width: 450px;
	
}

/*VIAGENS*/

article {
	display: flex;
	justify-content: center;
	height: 100vh;
}

.container-article {
	display: flex;
	flex-direction: column;s
	max-width: 100%;
	width: 1050px;
}

.container-article .titulo {
	margin-top: 50px;
}

.container-article p {
	margin-top: 30px;
}

.corpo-texto img {
	margin-top: 20px;
	max-width: 100%;
	width: 400px;
	height: 350px;
}


/*FORMULÁRIO*/
.wrapper {
	max-width: 1050px;
	margin: 50px auto;
	padding: 40px;
	background-color: #67809F; /*#303A52;*/
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.wrapper h1 {
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 50px;
	font-size: 35px;
	color: #fff;
}

.icons {
	font-size: 30px;
	margin-bottom: 10px;
	color: #fff;
}

.endereco {
	display: flex;
	justify-content: space-around;
	text-align: center;
	color: #a9aacd;
	font-weight: 300;
	margin-bottom: 50px;
}

.inner-endereco p {
	font-size: 15px;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 50px;
}

.form-titulo {
	font-size: 25px;
	margin-bottom: 20px;
	color: #fff;
	text-align: center;
}

.input-form {
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin-bottom: 20px;
}

.inner-msg {
	width: 100%;
	margin-bottom: 20px;
}

.input > input {
	border:0;
	width: 260px;
	padding: 10px 20px;
	outline: none;
}

.msg > textarea {
	width: 100%;
	border:0;
	padding: 10px 20px;
	outline: none;
	height: 80px;
}

.btn {
	border:2px solid #fff;
	padding: 10px 20px;
	cursor: pointer;
	transition: all 0.5s ease;
}

.btn:hover {
	background:#fff;
	color: #6464a5;
}

.socila-media {
	display: flex;
	justify-content: center;
	color: #a9aacd;
}

.inner-social .social-icon {
	margin: 0 20px;
	font-size: 30px;
	cursor: pointer;
	transition: all 0.5s ease;
}

.social-icon:hover {
	color: #fff;
}

::-webkit-input-placeholder {
	color: #a9aacd;
}

::-moz-input-placeholder {
	color: #a9aacd;
}

::-ms-input-placeholder {
	color: #a9aacd;
}

@media screen and (max-width: 640px) {
	.input-form {
		flex-direction:column;
	}

	.input:first-child > input {
		margin-bottom: 20px;
	}

	.form .input > input {
		width: 100%;
	}
}

/*=;===========================*/


/*============================*/


/*RESPONSIVIDADE*/

@media (max-width: 480px) {
	.container-header {
		justify-content: center;
		flex-direction: column;
	}

	.container-header .logo {
		margin-top: 10px;
		margin-right: 70%;
	}

	header nav ul {
		margin-top: -40px;
		margin-left: 40px;
	}

	.intro-foto {
		padding: 40px;
	}

	.container .intro-foto img {
		width: 100px;
		height: 100px;
		border-radius: 50%;
	}

	.container {
		padding: 40px;
		word-wrap: break-word;
		flex-wrap: wrap;
		flex-direction: column;
	}

	.titulo {
		font-size: 20px;
	}

	.intro-texto p {
		font-size: 14px;
	}

	.container-barra {
		padding: 40px;
	}

	.container-barra p {
		font-size: 14px;
	}

	.quadro {
		width: 200px;
		height: 390px;
	}

	.quadro img {
		width: 170px;
		height: 270px;
	}

	.legenda {
		font-size: 25px;
	}

	.container-barra {
		padding: 20px;
	}

	.container-lugares {
		flex-direction: column;
	}

	.container-lugares div {
		margin-top: 20px;
		width: 200px;
	}

	.container-newsletter {
		flex-direction: column;
	}

	.container-newsletter input {
		width: 200px;
	}

	.container-footer {
		flex-direction: column;
	}

	.container-footer p {
		word-wrap: break-word;
	}

	.container-article {
		padding: 40px;
	}

	.container-article .titulo {
		font-size: 30px;
	}

	.corpo-texto img {
		max-width: 100%;
		width: 400px;
	}

	.corpo-texto p {
		margin-top: 30px;
	}
}


@media (max-width: 767px) {
    .container-header {
    	padding: 40px;
    }

    .container {
    	flex-direction: column;
    	justify-content: center;
    	padding: 40px;
    }

    .intro-foto {
    	justify-content: center;
    }

    .titulo {
    	text-align: center;
    }

    .quadro {
    	width: 400px;
    	height: 490px;
    }

    .quadro img {
    	width: 360px;
    	height: 400px;
    }

    .container-lugares {
    	flex-direction: column;
    }

    .container-lugares div {
    	margin-top: 20px;
    }

    .container-newsletter {
    	flex-direction: column;
    }   
}

@media (min-width: 768px) and (max-width: 979px) {
	.container-header {
    	padding: 40px;
    }

    .container {
    	flex-direction: column;
    	justify-content: center;
    	padding: 40px;
    }

    .intro-foto {
    	justify-content: center;
    }

    .titulo {
    	text-align: center;
    }

    .quadro {
    	width: 400px;
    	height: 490px;
    }

    .quadro img {
    	width: 360px;
    	height: 400px;
    }

    .container-lugares {
    	flex-direction: column;
    }

    .container-lugares div {
    	margin-top: 20px;
    }

    .container-newsletter {
    	flex-direction: column;
    }   
}











